@charset "utf-8";

html{
    margin: 0;
    padding:0;
    font-size: 82%;
}


body{
 color: #404040;
 background-color:  rgb(159, 197, 219);;
font-size: 1rem;
line-height: 2.1;
text-align: center;
 }

a{

text-decoration: none;

}


 #kv{
width: 100%;
height: 1200px;
top: 100px;
background-image:url("./images/main.jpg");
background-size: cover;
 }


*{
    margin: 0;
}




/*******ヘッダー********/
section{
    background-color: #ffffff72;
    size: 10px;
    padding: 1em;
    
}

header {
    background-color: rgb(159, 197, 219);
    padding:0.01px;
    
}
   
header.logo{

color: antiquewhite;
font-size: 11rem;
}

/* ヘッダーを固定させる */



/******* ここから各セクションのスタイル ********/
.wrap-blk{
justify-content: center;
line-height: 20px;
letter-spacing: 0.2px;
}


 .contents-blk  {

 list-style: none; /* リストの[・]を消す */
 display:inline-block
}



/******* メイン ********/
main{
 background-color:#ffffff

}


/******* フッター*******/

nav ul {
    
    justify-content: flex-end;
    display: flex;
    list-style: none;
}


nav.fixed {
    position: fixed;/*fixedで固定*/
    right: 0;
    top: 0;
}


nav {
    align-items: center;
       width: 100%;
    background: #ffffff;
    background-image: url(./images/SORA\ logo.jpg)

}


ul li
{padding: 0
    list-style：none;  
}
footer {
    background-color: rgb(159, 197, 219);
    padding:1em;
}

footer i{
    margin: 0.3em 00;
}

  
